.product-page {


    fieldset {
        padding: 0;
    }
    

    textarea {
        margin:10px 0;
    }
    
    .code-banner {
        margin-bottom: 10px;
    }
    
    .product-title {
        img {
            width: 400px;
        }
    }
    
    label.error {
        color: red;
    }
    
}