<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>淘宝后台管理</title>

    <link rel="stylesheet" href="css/amazeui.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>


<% include partails/header %>

<div class="am-container">

    <form class="am-form">

        <fieldset>

            <legend>淘宝产品编辑代码生成器</legend>

            <div class="am-form-group">
                <label for="doc-ipt-email-1">邮件</label><input type="email" class="" id="doc-ipt-email-1" placeholder="输入电子邮件"/>
            </div>
        </fieldset>



    </form>

</div>


<% include partails/footer %>


<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/amazeui.min.js"></script>
<script type="text/javascript" src="js/app-product-edit.js"></script>
</body>
</html>