<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title><%= title %></title>
    <% include ../partails/css %>
</head>
<body>

<% include ../partails/header %>



<div class="am-container product-page">

    <form id="form-add-product" class="am-form" action="/product/add" method="post">

        <fieldset>

            <legend>添加产品</legend>

            <!-- info start -->
            <div id="content-info" class="am-form-group">
                <label> <input type="checkbox" checked="checked"/> 使用购买说明</label>
                <div class="product-title"><img src="https://img.alicdn.com/imgextra/i1/42879206/TB229F_hXXXXXcqXXXXXXXXXXXX_!!42879206.png"/></div>
                <input id="md-code-info" name="md-code-info" type="text" readonly="readonly" />
            </div>
            <!-- info end -->

            <hr/>

            <!-- banner start -->
            <div id="content-banner" class="am-form-group am-form-select">
                <label>选择商品匹配的banner</label>
                <select id="select-banner">
                    <option value="0">随机选择</option>
                    <option value="1" data-src="https://img.alicdn.com/imgextra/i1/42879206/TB2mpjfgVXXXXbZXXXXXXXXXXXX_!!42879206.jpg">许愿</option>
                    <option value="2" data-src="https://img.alicdn.com/imgextra/i1/42879206/TB2GuffgVXXXXbRXXXXXXXXXXXX_!!42879206.jpg">友谊,关系</option>
                    <option value="3" data-src="https://img.alicdn.com/imgextra/i3/42879206/TB2ZomYgVXXXXcoXpXXXXXXXXXX_!!42879206.jpg">能量符号</option>
                    <option value="4" data-src="https://img.alicdn.com/imgextra/i3/42879206/TB2f2DrgVXXXXXiXXXXXXXXXXXX_!!42879206.jpg">女巫</option>
                    <option value="5" data-src="https://img.alicdn.com/imgextra/i1/42879206/TB2PK5YgVXXXXa4XpXXXXXXXXXX_!!42879206.jpg">爱情</option>
                    <option value="6" data-src="https://img.alicdn.com/imgextra/i2/42879206/TB2Y71SgVXXXXcBXpXXXXXXXXXX_!!42879206.jpg">爱情</option>
                    <option value="7" data-src="https://img.alicdn.com/imgextra/i1/42879206/TB2v9W5gVXXXXalXpXXXXXXXXXX_!!42879206.jpg">事业,工作,学习</option>
                    <option value="8" data-src="https://img.alicdn.com/imgextra/i3/42879206/TB2Qu5RgVXXXXbgXpXXXXXXXXXX_!!42879206.jpg">能量,许愿</option>
                    <option value="9" data-src="https://img.alicdn.com/imgextra/i4/42879206/TB2S615gVXXXXakXpXXXXXXXXXX_!!42879206.jpg">冥想</option>
                    <option value="10" data-src="https://img.alicdn.com/imgextra/i4/42879206/TB2KHvigVXXXXaTXXXXXXXXXXXX_!!42879206.jpg">疗愈,脉轮</option>
                    <option value="11" data-src="https://img.alicdn.com/imgextra/i1/42879206/TB2Doq6gVXXXXXWXpXXXXXXXXXX_!!42879206.jpg">烦恼</option>
                    <option value="12" data-src="https://img.alicdn.com/imgextra/i3/42879206/TB2Un2hgVXXXXa6XXXXXXXXXXXX_!!42879206.jpg">爱情</option>
                    <option value="13" data-src="https://img.alicdn.com/imgextra/i2/42879206/TB2ELiVgVXXXXcXXpXXXXXXXXXX_!!42879206.jpg">精油，爱情</option>
                    <option value="14" data-src="https://img.alicdn.com/imgextra/i4/42879206/TB2nwO2gVXXXXaDXpXXXXXXXXXX_!!42879206.jpg">冥想</option>
                    <option value="15" data-src="https://img.alicdn.com/imgextra/i2/42879206/TB2KYGSgVXXXXcbXpXXXXXXXXXX_!!42879206.jpg">学习,事业,努力</option>
                    <option value="16" data-src="https://img.alicdn.com/imgextra/i2/42879206/TB2tEq3gVXXXXazXpXXXXXXXXXX_!!42879206.jpg">魔法，制作</option>
                    <option value="17" data-src="https://img.alicdn.com/imgextra/i2/42879206/TB2nPfdgVXXXXbZXXXXXXXXXXXX_!!42879206.jpg">女巫</option>
                    <option value="18" data-src="https://img.alicdn.com/imgextra/i3/42879206/TB2tzLogVXXXXXVXXXXXXXXXXXX_!!42879206.jpg">爱情</option>
                    <option value="19" data-src="https://img.alicdn.com/imgextra/i4/42879206/TB2Ag51gVXXXXaOXpXXXXXXXXXX_!!42879206.jpg">能量</option>
                    <option value="20" data-src="https://img.alicdn.com/imgextra/i4/42879206/TB26B9SgVXXXXcEXpXXXXXXXXXX_!!42879206.jpg">能量</option>
                    <option value="21" data-src="https://img.alicdn.com/imgextra/i3/42879206/TB29S9QgVXXXXcsXpXXXXXXXXXX_!!42879206.jpg">精油</option>
                    <option value="22" data-src="https://img.alicdn.com/imgextra/i1/42879206/TB2gfbigVXXXXa6XXXXXXXXXXXX_!!42879206.jpg">友谊，关系</option>
                    <option value="23" data-src="https://img.alicdn.com/imgextra/i1/42879206/TB2BRC6gVXXXXXeXpXXXXXXXXXX_!!42879206.jpg">美梦</option>
                    <option value="24" data-src="https://img.alicdn.com/imgextra/i4/42879206/TB2DVzggVXXXXbpXXXXXXXXXXXX_!!42879206.jpg">金钱</option>
                    <option value="25" data-src="https://img.alicdn.com/imgextra/i4/42879206/TB261q3gVXXXXaJXpXXXXXXXXXX_!!42879206.jpg">魔法，制作</option>
                    <option value="26" data-src="https://img.alicdn.com/imgextra/i1/42879206/TB22hrggVXXXXaZXXXXXXXXXXXX_!!42879206.jpg">美梦，爱情</option>
                    <option value="27" data-src="https://img.alicdn.com/imgextra/i1/42879206/TB2tD11gVXXXXbXXpXXXXXXXXXX_!!42879206.jpg">占卜</option>
                    <option value="28" data-src="https://img.alicdn.com/imgextra/i3/42879206/TB2P4fpgVXXXXXqXXXXXXXXXXXX_!!42879206.jpg">选择</option>
                    <option value="29" data-src="https://img.alicdn.com/imgextra/i1/42879206/TB2IR6agVXXXXcwXXXXXXXXXXXX_!!42879206.jpg">许愿</option>
                    <option value="30" data-src="https://img.alicdn.com/imgextra/i1/42879206/TB2ab1TgVXXXXbMXpXXXXXXXXXX_!!42879206.jpg">许愿</option>
                    <option value="31" data-src="https://img.alicdn.com/imgextra/i1/42879206/TB2yd50gVXXXXbtXpXXXXXXXXXX_!!42879206.jpg">幸福，成功</option>
                    <option value="32" data-src="https://img.alicdn.com/imgextra/i2/42879206/TB2u.GPgVXXXXcZXpXXXXXXXXXX_!!42879206.jpg">人缘，朋友</option>
                    <option value="33" data-src="https://img.alicdn.com/imgextra/i3/42879206/TB2XhLegVXXXXb_XXXXXXXXXXXX_!!42879206.jpg">幸福，旅行</option>
                    <option value="34" data-src="https://img.alicdn.com/imgextra/i1/42879206/TB2bLW6gVXXXXXHXpXXXXXXXXXX_!!42879206.jpg">幸福，喜悦，享受</option>
                    <option value="35" data-src="https://img.alicdn.com/imgextra/i1/42879206/TB2JoaOgVXXXXbCXpXXXXXXXXXX_!!42879206.jpg">负能量</option>
                    <option value="36" data-src="https://img.alicdn.com/imgextra/i1/42879206/TB2WWS6gVXXXXakXpXXXXXXXXXX_!!42879206.jpg">财富，金钱</option>
                    <option value="37" data-src="https://img.alicdn.com/imgextra/i2/42879206/TB2Xp1SgVXXXXa.XpXXXXXXXXXX_!!42879206.jpg">魔法牌符号</option>
                    <option value="38" data-src="https://img.alicdn.com/imgextra/i2/42879206/TB2AuGZgVXXXXaMXpXXXXXXXXXX_!!42879206.jpg">爱情</option>
                    <option value="39" data-src="https://img.alicdn.com/imgextra/i2/42879206/TB23SvggVXXXXaSXXXXXXXXXXXX_!!42879206.jpg">占卜</option>
                    <option value="40" data-src="https://img.alicdn.com/imgextra/i1/42879206/TB2H5uYgVXXXXbfXpXXXXXXXXXX_!!42879206.jpg">占卜</option>
                    <option value="41" data-src="https://img.alicdn.com/imgextra/i1/42879206/TB2qpGSgVXXXXcBXpXXXXXXXXXX_!!42879206.jpg">害羞</option>
                    <option value="42" data-src="https://img.alicdn.com/imgextra/i4/42879206/TB25fKYgVXXXXa2XpXXXXXXXXXX_!!42879206.jpg">魔法仪式</option>
                    <option value="43" data-src="https://img.alicdn.com/imgextra/i3/42879206/TB2KgKSgVXXXXceXpXXXXXXXXXX_!!42879206.jpg">魔法仪式</option>
                    <option value="44" data-src="https://img.alicdn.com/imgextra/i1/42879206/TB2IdbagVXXXXXcXpXXXXXXXXXX_!!42879206.jpg">魔法仪式</option>
                    <option value="45" data-src="https://img.alicdn.com/imgextra/i3/42879206/TB2L1iYgVXXXXbdXpXXXXXXXXXX_!!42879206.jpg">占卜</option>
                    <option value="46" data-src="https://img.alicdn.com/imgextra/i1/42879206/TB2qLK3gVXXXXaEXpXXXXXXXXXX_!!42879206.jpg">努力，事业，学习</option>
                </select>
                <span class="am-form-caret"></span>
            </div>
            <div class="code-banner product-title "></div>

            <input id="md-code-banner" type="text" name="md-code-banner" readonly="readonly" />
            <!-- banner end -->


            <hr/>


            <!-- video start -->
            <div id="content-video" class="am-form-group">
                <div class="product-title"><img src="https://img.alicdn.com/imgextra/i1/42879206/TB2nUd2hXXXXXcLXXXXXXXXXXXX_!!42879206.png"
                        /></div>
                <input  id="md-code-video" name="md-code-video" type="text" placeholder="输入产品视频" />
            </div>
            <!-- video end -->

            <hr/>

            <!-- name start -->
            <div id="content-name" class="am-form-group">
                <div class="product-title"><img src="https://img.alicdn.com/imgextra/i1/42879206/TB2wMedhXXXXXaWXXXXXXXXXXXX_!!42879206.png"
                        /></div>
                <input  id="md-code-name" required name="md-code-name" type="text" placeholder="输入产品名称[必填]" />
            </div>
            <!-- name end -->

            <hr/>

            <!-- review start -->
            <div id="content-review" class="am-form-group">
                <div class="product-title"><img src="https://img.alicdn.com/imgextra/i4/42879206/TB2sd8VhXXXXXasXpXXXXXXXXXX_!!42879206.png"
                        /></div>
                <textarea id="md-code-review" name="md-code-review" rows="3" placeholder="输入店主评语"></textarea>
            </div>
            <!-- review end -->

            <hr/>

            <!-- property start -->
            <div id="content-property" class="am-form-group">
                <div class="product-title"><img src="https://img.alicdn.com/imgextra/i1/42879206/TB2Z2mghXXXXXaAXXXXXXXXXXXX_!!42879206.png"
                        /></div>
                <textarea id="md-code-property" name="md-code-property" rows="3" placeholder="输入产品属性"></textarea>
            </div>
            <!-- property end -->

            <hr/>

            <!-- instruction start -->
            <div id="content-instruction" class="am-form-group">
                <div class="product-title"><img src="https://img.alicdn.com/imgextra/i3/42879206/TB2zUlNhXXXXXcgXpXXXXXXXXXX_!!42879206.png"
                        /></div>
                <textarea id="md-code-instruction" name="md-code-instruction" rows="3" placeholder="输入产品说明"></textarea>
            </div>
            <!-- instruction end -->

            <hr/>

            <!-- detail start -->
            <div id="content-detail" class="am-form-group">
                <div class="product-title"><img src="https://img.alicdn.com/imgextra/i1/42879206/TB2sTF6hXXXXXcCXXXXXXXXXXXX_!!42879206.png"
                        /></div>
                <textarea id="md-code-detail" name="md-code-detail" rows="5" placeholder="输入产品详情[必填]" required ></textarea>
            </div>
            <!-- detail end -->

            <hr/>

            <!-- images start -->
            <div id="content-image" class="am-form-group">
                <div class="product-title"><img src="https://img.alicdn.com/imgextra/i1/42879206/TB2Be8OhXXXXXcXXpXXXXXXXXXX_!!42879206.png"
                        /></div>
                <textarea id="md-code-image" name="md-code-image" rows="5" placeholder="输入产品图片"></textarea>
            </div>
            <!-- images end -->

            <hr/>

            <div class="am-form-group">
                <button type="submit" class="am-btn am-btn-primary">保存</button>
                <button type="button" class="am-btn am-btn-success">生成并预览</button>
            </div>

        </fieldset>

    </form>

</div>


<% include ../partails/footer %>
<% include ../partails/js %>

<script type="text/javascript">
    $(function() {

        var productAdd = require('product-add');
        productAdd();

    });
</script>
</body>
</html>