<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title><%= title %></title>
    <% include ../partails/css %>
</head>
<body>

<% include ../partails/header %>

<div class="am-container product-page">

        <fieldset>

            <legend>产品列表</legend>

            

            <hr/>

            <div class="am-form-group">
                <button type="submit" class="am-btn am-btn-primary">保存</button>
                <button type="button" class="am-btn am-btn-success">生成并预览</button>
            </div>

        </fieldset>


</div>


<% include ../partails/footer %>
<% include ../partails/js %>

<script type="text/javascript">
    $(function() {

        var productAdd = require('product-add');
        productAdd();

    });
</script>
</body>
</html>