<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title><%= title %></title>
    <% include ../partails/css %>
</head>
<body>

<% include ../partails/header %>

<div class="am-container product-edit-page">

    <a href="/product/add">添加产品</a>
    
</div>


<% include ../partails/footer %>
<% include ../partails/js %>

<script type="text/javascript">
    $(function() {

        

    });
</script>
</body>
</html>